@font-face {
    font-family: "Abel Regular";
    src: url("../fonts/Abel Regular.ttf");
}
@font-face {
    font-family: "OpenSans Bold";
    src: url("../fonts/OpenSans Bold.ttf");
}
@font-face {
    font-family: "OpenSans BoldItalic";
    src: url("../fonts/OpenSans BoldItalic.ttf");
}
@font-face {
    font-family: "OpenSans ExtraBold";
    src: url("../fonts/OpenSans ExtraBold.ttf");
}
@font-face {
    font-family: "OpenSans ExtraBoldItalic";
    src: url("../fonts/OpenSans ExtraBoldItalic.ttf");
}
@font-face {
    font-family: "OpenSans Italic";
    src: url("../fonts/OpenSans Italic.ttf");
}
@font-face {
    font-family: "OpenSans Light";
    src: url("../fonts/OpenSans Light.ttf");
}
@font-face {
    font-family: "OpenSans LightItalic";
    src: url("../fonts/OpenSans LightItalic.ttf");
}
@font-face {
    font-family: "OpenSans Regular";
    src: url("../fonts/OpenSans Regular.ttf");
}
@font-face {
    font-family: "OpenSans SemiBold";
    src: url("../fonts/OpenSans SemiBold.ttf");
}
@font-face {
    font-family: "OpenSans SemiBoldItalic";
    src: url("../fonts/OpenSans SemiBoldItalic.ttf");
}
@font-face {
    font-family: "StreetCorner Bold";
    src: url("../fonts/StreetCorner Bold.ttf");
}

@font-face {
    font-family: "Kallio";
    src: url("../fonts/Kallio200.ttf");
}


